<!DOCTYPE html>

<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/WebPic.jpg" width="210px" height="294px">
                </div>
                <div class="contact">
									
									Department of Statistics<br>
                  North Carolina State University<br>
                  <br>
                  email: <a href="mailto:skoner@ncsu.edu">skoner@ncsu.edu</a> <br>
									
                </div>
              </div>
			  

<b>Brief biography</b> 
<br>
Welcome to my webpage!  I am a graduate student in the Department of Statistics at North Carolina State University. I am advised by <a href="https://www4.stat.ncsu.edu/~staicu/"><b>Ana-Maria Staicu</b></a> and <a href="https://jonathanpw.github.io"><b>Jonathan Williams</b></a>.

<br>
<br>
Link: <a href="assets/CV_KonerSalil.pdf"><b>Curriculum Vitae</b></a>
<br>
Link: <a href="https://scholar.google.com/citations?user=rzzeE0gAAAAJ&hl=en"><b>Google Scholar Profile</b></a>
<br>
<div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-5164-9430" href="https://orcid.org/0000-0001-5164-9430" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0001-5164-9430</a></div>

<br>
<b>Current research interests</b>
<ul>
<li> Functional data </li>
<li> Longitudinal data </li>
<li> Wearable data </li>
<li> Non-parametric statistics </li>
<li> Model/feature selection </li>
<li> Multivariate regression </li>
<li> Relational data </li>
</ul>

<br>


				
							</div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
